name:  "Release fyllut"
on:
  workflow_dispatch:
    inputs:
      monorepoGitHash:
        description: git hash of the monorepo
        required: true
jobs:
  publish:
    name: "Update reference to monorepo"
    runs-on: ubuntu-latest
    steps:
      - name: "Generate app installation access token"
        uses: navikt/github-app-token-generator@v1
        id: generate-token
        with:
          private-key: ${{ secrets.PUBLISHING_APP_PRIVATE_KEY }}
          app-id: ${{ secrets.PUBLISHING_APP_ID }}
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ steps.generate-token.outputs.token }}
      - name: "Git config user email and name"
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"
      - name: "Update MONOREPO reference"
        run: echo -n ${{ github.event.inputs.monorepoGitHash }} > MONOREPO
      - name: "Commit changes"
        run: |
          git add MONOREPO
          git commit -m "[release-fyllut] monorepo ref: ${{ github.event.inputs.monorepoGitHash }}"
      - name: "Push changes"
        run: git push
