name: 'Trigger dev deploy'
on:
  workflow_dispatch:
    inputs:
      monorepoGitHash:
        description: git hash of the monorepo
        required: true
jobs:
  publish:
    name: "Prepare deploy to dev"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0
          token: ${{ secrets.TEAM_ACCESS_TOKEN }}
      - name: "Git config user email and name"
        run: |
          git config --local user.email "github-actions@github.com"
          git config --local user.name "github-actions"
      - name: "Fetch latest forms and translations from master"
        run: git merge origin/master
      - name: "Update MONOREPO reference"
        run: echo -n ${{ github.event.inputs.monorepoGitHash }} > MONOREPO
      - name: "Add MONOREPO"
        run: git add MONOREPO
      - name: "No unstaged changes should exist, quit otherwise"
        run: git diff --quiet
      - name: "Commit changes"
        run: |
          git commit -m "[${{ github.ref }}] monorepo ref: ${{ github.event.inputs.monorepoGitHash }}"
      - name: "Push changes"
        run: git push
